.hero {
    background: url('https://via.placeholder.com/1600x600?text=Hero+Image') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    background-size: cover;
}

h1 {
    font-size: 4em; /* Increased font size */
    margin: 0;
    color: #d12525; /* A softer red color */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Shadow for depth */
    letter-spacing: 2px; /* Increase letter spacing */
    font-family: 'Pacifico', cursive; /* Use a stylish font */
}

.e {
    color: black;
}

.heroButton {
    background-color: #b71c1c;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s; /* Added transform transition */
}

.heroButton:hover {
    background-color: #a31b1b;
    transform: scale(1.05); /* Slightly scale up on hover */
}

.vd {
    font-size: 40px;
}
