/* General styling for the page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    position: relative;
    min-height: 500px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.section.active {
    display: flex;
}

.workshop-box {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.workshop-box:nth-child(1) {
    animation-delay: 0.1s;
}

.workshop-box:nth-child(2) {
    animation-delay: 0.2s;
}

.workshop-box:nth-child(3) {
    animation-delay: 0.3s;
}

.workshop-box:nth-child(4) {
    animation-delay: 0.4s;
}

.workshop-box:nth-child(5) {
    animation-delay: 0.5s;
}

.workshop-box:hover {
    background-color: #d3d3d3;
    transform: translateY(-5px);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.go-back-arrow {
    font-size: 24px;
    cursor: pointer;
    color: #1d2d3f;
    position: absolute;
    top: 10px;
    left: 10px;
}

.go-back-arrow:hover {
    color: #0056b3;
}

.registration-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.back-button {
    background-color: #6c757d;
    margin-top: 10px;
}

button.back-button:hover {
    background-color: #5a6268;
}
