/* General styling for the page */
.z {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensure the minimum height covers the full viewport height */
    padding: 20px;
    background-image: url("https://png.pngtree.com/background/20220731/original/pngtree-cute-background-shape-picture-image_1911311.jpg");background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    min-height: 500px;
    width: 80%; /* Responsive width */
    max-width: 600px; /* Maximum width */
    text-align: center;
}

.section.active {
    display: block;
}

.event-box {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%; /* Full width within the section */
    max-width: 300px; /* Medium size */
    text-align: center;
    cursor: pointer;
    display: inline-block; /* Center alignment */
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 0.5s forwards; /* Animation */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.event-box:nth-child(1) {
    animation-delay: 0.1s; /* Delay for first box */
}

.event-box:nth-child(2) {
    animation-delay: 0.2s; /* Delay for second box */
}

.event-box:nth-child(3) {
    animation-delay: 0.3s; /* Delay for third box */
}

.event-box:nth-child(4) {
    animation-delay: 0.4s; /* Delay for fourth box */
}

.event-box:nth-child(5) {
    animation-delay: 0.5s; /* Delay for fifth box */
}

.event-box:hover {
    background-color: #d3d3d3;
    transform: translateY(-5px); /* Slight lift effect on hover */
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0); /* Move to its final position */
    }
}

.go-back-arrow {
    font-size: 24px;
    cursor: pointer;
    color: #1d2d3f;
    position: absolute;
    top: 10px; /* Position from the top */
    left: 10px; /* Position from the left */
}

.go-back-arrow:hover {
    color: #0056b3;
}
