

/* General styling for the page */
.f {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Ensure the minimum height covers the full viewport height */
  padding: 20px;
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG9ubGluZSUyMGV2ZW50fGVufDB8fDB8fHww");background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  
  .section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffffc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    position: relative;
    min-height: 500px;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  .section.active {
    display: flex;
  }
  
  .Online-event-box {
    background-color:  #57f699;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
    padding-left: 60px; /* Add space for the icon */
  }
  
  .Online-event-box .event-icon {
    font-size: 20px;
    color: #fff;
    background-color: #1d2d3f; /* Circle background color */
    border-radius: 100%;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%); /* Center icon vertically */
  }
  
  .Online-event-box:hover {
    background-color:  #069542;
    transform: translateY(-5px);
  }
  
  @keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  .go-back-arrow {
    font-size: 24px;
    cursor: pointer;
    color: #1d2d3f;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .go-back-arrow:hover {
    color: #0056b3;
  }