/* src/AdminLogin.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f5f5f5, #ffffff);
  }
  
  .login-form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    padding: 20px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .login-form div {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .login-form input:focus {
    border-color: #f6c14e;
    outline: none;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #cf0808;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #f4871a;
  }
  
  .login-form p {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  