/* src/App.css */
.b  {
  font-family: 'Times New Roman', serif;
  text-align: center;
  min-height: 100vh; /* Ensure the minimum height covers the full viewport height */
  padding: 20px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/026/858/512/small_2x/of-a-colorful-assortment-of-sports-balls-on-a-white-background-with-copy-space-free-photo.jpg");background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ecd716;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #d3d3d3;
  transform: translateY(-5px);
}

.section {
  display: none;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  min-height: 300px;
}

.section.active {
  display: block;
}

form input {
  padding: 8px;
  width: 200px;
  margin-bottom: 10px;
  font-size: 16px;
}

form label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-size: 16px;
}

form button {
  margin-top: 5px;
  background-color: #af0d0d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

form button:hover {
  background-color: #f39e16;
}

.goback-button {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

.registration-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: space-between;
}
