/* event.css */
.events{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-bottom: 5%;
    gap: 40px;
    justify-content: center;
}
.t{
    margin-top: 60px;
}

@media (max-width: 768px) {
    .box {
        width: 200px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .box {
        width: 150px;
        height: 100px;
        font-size: 1em;
    }
}


.box {
    width: 220px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.technical { background-color: #3498db; }  /* Blue */
.non-technical { background-color: #e74c3c; }  /* Red */
.online { background-color: #2ecc71; }  /* Green */
.sports { background-color: #d5e037; }  /* Yellow */
.workshops { background-color: #9b59b6; }  /* Purple */
.job-fairs { background-color: #ff9d1d; }  /* Orange */
.social-responsibility { background-color:  #f751d3;}  /* Pink */

.box:hover {
    transform: scale(1.1);
}